// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.compatibility-reporter {
  display: flex;
  flex-direction: column;

  .hidden {
    display: none;
  }
}

.results-view {
  overflow: auto;
  padding: 0 @component-padding;
  flex: 1;
}
