// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.compatibility-reporter {
  display: flex;
  flex-direction: column;

  .hidden {
    display: none;
  }
}

.results-view {
  overflow: auto;
  padding: 0 @component-padding;
  flex: 1;
}

.features-table {
  border-spacing: 4px;
  border-collapse: separate;

  th,
  td {
    padding: 5px;
  }

  .support-status-y {
    background-color: #39b54a;
    color: #fff;
  }

  .support-status-n,
  .support-status-p {
    background-color: #c44230;
    color: #fff;
  }

  .support-status-a {
    background-color: #a8bd04;
    color: #fff;
  }

  .support-status-u {
    background-color: #838383;
    color: #fff;
  }
}
